body{
  margin: 0px;
  padding: 0px;
  background-color: #011627;
  color: #fdfffc;
  text-align: center;
  background-color:rgb(72, 56, 110);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
h1{
  font-size: 45px;
  text-decoration: underline;
}
.dis{
  border-style: none;
  width:350px;
  height:50px;
  color:white;
  background-color: black;
}

input{
  width: 75px;
  height: 50px;
  font-size: 45px;
  border-radius: 10px;
  margin: 10px;
  background-color: white;
  color: black;
  border-style: none;

}

.btn:hover{
  background-color:yellow;
  cursor: pointer;
}